:root{
    --primary-color: #99CAF0;
    --secondary-color: rgb(58, 119, 58) ;
}
nav{
    font-size: 30px;
    background-color: transparent;
    padding: 20px 20px;
  }
  nav ul{
margin: 0;
padding: 0;
  }
  nav li{
    display: inline;
    font-size: 20px;
    list-style: none;
    margin-left: 15px;
  }
  nav a{
    color: black;
    text-decoration: none;
    transition: all 100ms ease-in-out;
  }
  nav a:hover, nav li.active a{
    color: var(--primary-color);
  }
body{
    font-family: 'Cutive Mono', monospace;
}
h1{
    color: var(--primary-color);
    font-size:80px;
}
h2{
    font-size: 50px;
}
h3{
    font-weight: bolder;
}
p{
    font-size:24px ;
    line-height: 1.5;
    padding: 10px 10px;
}

footer p{
    font-size: 16px;

}
footer a{
    text-decoration: none;
    color: var(--secondary-color);
}
footer a:hover{
    color: rgb(44, 231, 44);
}
footer .social-media-links{
    font-size: 26px;
}
.hero{
    padding: 160px 0;
}
.about-me-information{
    line-height: 1.5;

}
.certification{
    padding: 60px;
}

.country {
    font-size: 16px;
  }
  .skill-logo img{
      padding-left: 60px;
  }

  .btn-branding-outline{
    border-radius: 4px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px;
  }
  .btn-branding-outline:hover {
    cursor: pointer;
  }
