:root{
    --primary-color: #99CAF0;
    --secondary-color: rgb(0, 165, 0) ;
    --hover-color:rgb(44, 231, 44);
}
nav{
    font-size: 24px;
    padding: 20px 20px;
    
  }
  nav ul{
padding: 0;
  }
  nav li{
    display: inline;
    font-size: 20px;
    list-style: none;
    margin-left: 15px;
    line-height: 40px;
  }
  nav a{
    color: black;
    text-decoration: none;
    transition: all 100ms ease-in-out;
  }
  nav a:hover{
    color: var(--hover-color);
  }
  nav li.active a{
      color: var(--primary-color);
  }
body{
    font-family: 'Cutive Mono', monospace;
}
h1{
    color: var(--primary-color);
    font-size:80px;
}
h2{
    font-size: 50px;
}
h3{
    font-weight: bolder;
}
p{
    font-size:24px ;
    line-height: 1.5;
    padding: 10px 10px;
}
p a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
}
footer p{
    font-size: 16px;

}
footer a{
    text-decoration: none;
    color: var(--secondary-color);
}
footer a:hover{
    color: var(--hover-color);
}
footer .social-media-links{
    font-size: 26px;
}
.hero{
    padding: 160px 0;
}
.certification{
    padding: 60px;
}
.contact-page{
    background: center / contain no-repeat url("/images/background-sunflower.jpg" );
    text-align: center;
    line-height: 1.5;
    color: yellow;
}
.contact-page a{
    color: var(--secondary-color);
}
.contact-page a:hover{
    color: var(--hover-color);
}
.country {
    font-size: 16px;
  }
  .skill-logo img{
      padding-left: 60px;
  }
  .btn-branding-outline{
    border-radius: 4px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px;
  }
  .btn-branding-outline:hover {
      color: var(--hover-color);
    cursor: pointer;
  }

  @media(max-width:780px){
body{
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
}
footer{
    font-size: 10px;
}
nav{
    font-size: 14px;
    padding: 0;
}
nav li{
    font-size: 14px;
}
.skill-logo img{
    width: 25px;
    padding: 0;
    margin: 0;
}
  }
